{% extends "base.html" %}
{% block content %}
    {% include "nav.html" %}
    <div class="card">
        <div class="card-body">
            <h1>Welcome {{username}}</h1>
            <span>{{err}}</span>

            <form method="POST" action="/profile">
                <div>
                    {% for key,val in profile %}
                    <label class="check mx-1">
                        <span class="btn">
                            {{key}}
                        </span>
                        <input type="checkbox" name="trait-{{key}}"
                            {{"checked" if val else ""}} style="display: none;"
                        />
                    </label>
                    {% endfor %}
                </div>
                <label>
                    Max group size
                    <select class="form-control" name="max_in_group">
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                </label>
                <button type="button" id="random" class="btn btn-warning">Randomize</button>
                <button class="btn btn-success">Find group!</button>
            </form>

        </div>
    </div>

    <script>
        const checks = document.querySelectorAll(".check");
        checks.forEach((c) => {
            // Initial states
            const span = c.querySelector("span");
            const checkbox = c.querySelector("input");
            if (checkbox.checked) {
                span.classList.add("btn-primary");
            } else {
                span.classList.add("btn-secondary");
            }

            // Change on click
            c.addEventListener("change", () => {
                const span = c.querySelector("span");
                const checkbox = c.querySelector("input");
                if (checkbox.checked) {
                    span.classList.remove("btn-secondary");
                    span.classList.add("btn-primary");
                } else {
                    span.classList.remove("btn-primary");
                    span.classList.add("btn-secondary");
                }
            })
        });

        const random = document.querySelector("#random");
        random.addEventListener("click", () => {
            checks.forEach((c) => {
                const span = c.querySelector("span");
                const checkbox = c.querySelector("input");
                if (Math.random() < 0.5) {
                    checkbox.checked = true;
                    span.classList.remove("btn-secondary");
                    span.classList.add("btn-primary");
                } else {
                    checkbox.checked = false;
                    span.classList.remove("btn-primary");
                    span.classList.add("btn-secondary");
                }
            });
        });
    </script>
{% endblock %}
